<li directivaLi appBorderGreen  class="empleado-item"[cargo]="empleado.cargo">
    <p>
        {{empleado.id}} {{empleado.nombre}} {{empleado.apellido}} {{empleado.salario}} <span
            [ngStyle]="{'color': empleado.cargo=='Botones'?'green':empleado.cargo=='Director'?'red':empleado.id%2==0?'blue':'black'} ">{{empleado.cargo}}</span>
    </p>
    <ng-container *ngFor="let caracteristica of arrayCaracteristicas">
        <p class="caracteristica__item">{{caracteristica}}</p>
    </ng-container>
    <app-carac-emp (caracTemp)="agregarCaracteristica($event)"></app-carac-emp>
</li>

<hr *ngIf="empleado.id%5==0">
