<section class="form-alta">
  <h1 class="form-alta__title">Alta de empleados</h1>
  <div class="form-alta__entrada">
    <div class="campo">
      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" #nombre>
    </div>
    <div class="campo">
      <label for="apellido">Apellido:</label>
      <input type="text" name="apellido" #apellido>
    </div>
    <div class="campo">
      <label for="cargo">Cargo:</label>
      <input type="text" name="cargo" #cargo>
    </div>
    <div class="campo">
      <label for="salario">Salario:</label>
      <input type="number" name="salario" #salario>
    </div>
    <input type="button" value="Agregar" class="btn"
      (click)="agregarEmpleado(nombre.value,apellido.value,cargo.value,salario.value)">
  </div>

  <div class="lista-empleados" *ngFor="let empleado of empleados">
    <p class="empleado-item">{{empleado.id}} {{empleado.nombre}} {{empleado.apellido}} {{empleado.salario}} <span
        [ngStyle]="{'color': empleado.cargo=='Botones'?'green':empleado.cargo=='Director'?'red':'black'} ">{{empleado.cargo}}</span>
    </p>
    <hr *ngIf="empleado.id%5==0">
  </div>

</section>