<section class="form-alta">
    <h1 class="form-alta__title">Alta de empleados</h1>
    <div class="form-alta__entrada">
        <div class="campo">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" [(ngModel)]="nombre">
        </div>
        <div class="campo">
            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" [(ngModel)]="apellido" [ngClass]="{borderRed:checkApellido(apellido)}">
        </div>
        <div class="campo">
            <label for="cargo">Cargo:</label>
            <input type="text" name="cargo" [(ngModel)]="cargo">
        </div>
        <div class="campo">
            <label for="salario">Salario:</label>
            <input type="number" name="salario" [(ngModel)]="salario">
        </div>

        <input *ngIf="nombre && apellido && cargo && salario && !checkApellido(apellido) else btnDisabled" type="button" value="Agregar" class="btn"
            (click)="agregarEmpleado(nombre,apellido,cargo,salario)">
        <ng-template #btnDisabled>
            <input type="button" value="Rellena los campos" class="btn btn--disabled">
        </ng-template>


    </div>

    <!-- <ul class="lista-empleados" *ngFor="let empleado of empleados">
        <li directivaLi appBorderGreen [cargo]="empleado.cargo" class="empleado-item">{{empleado.id}} {{empleado.nombre}} {{empleado.apellido}} {{empleado.salario}} <span
                [ngStyle]="{'color': empleado.cargo=='Botones'?'green':empleado.cargo=='Director'?'red':empleado.id%2==0?'blue':'black'} ">{{empleado.cargo}}</span>
        </li>
        <hr *ngIf="empleado.id%5==0">
    </ul> -->

    <!-- Nuevo Ejercicio -->
    <div class="listado"*ngIf="empleados.length >0">
        <h2 class="listado__titulo">Lista Empleados</h2>
        <ul class="lista-empleados" *ngFor="let empleado of empleados">
            <app-lista-empleados [empleado]="empleado"></app-lista-empleados>
        </ul>
    </div>




</section>
