:root{
    --primary-font:'Roboto', sans-serif;
    --azul:#0066FF;
    --blanco:#fff;
    --negro:#000;
    --rojo:#960000;
    --verde:rgb(0, 199, 0);
    --gris-oscuro:rgb(90, 90, 90);
    --gris-claro:rgb(194, 194, 194);
}

*,*:before,*:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: var(--primary-font);
    background-image: url(../src/assets/img/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--blanco);
    height: 100vh;
}
h1{
    font-size: 3.2rem;
}